<h2>Liste des salles</h2>

{{#if rooms.length}}
  <table border="1" cellpadding="5">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Capacité</th>
        <th>Localisation</th>
      </tr>
    </thead>
    <tbody>
      {{#each rooms}}
        <tr>
          <td>{{nom}}</td>
          <td>{{capacite}}</td>
          <td>{{localisation}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>Aucune salle trouvée.</p>
{{/if}}
